# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio uglies
*.v11.suo
*.vcxproj.filters
*.vcxproj.user
*.opensdf
*.ncrunchsolution*
*.sdf
*.userosscache
*.sln.docstates

# Visual Studio cache/options directory
.vs/

# Build artifacts
Default/
Debug/
bin/*
!bin/win-bash
*.VC.db
*.sln
*.vcxproj
Makefile
UVLite.Makefile
UVLite.VC.*
*.mk
gyp-mac-tool
build/

# Lazily-resolved dependencies
lib/

# Xcode
UVLite.xcworkspace/

# CLion
.idea
